.rightPane {
  padding: 4px 0px;
}
.searchBox {
  display: flex;
  gap: 20px;
  background-color: rgb(239, 243, 244);
  border-color: rgb(118, 118, 118);
  border-radius: 20px;
  padding: 10px;
}

.searchInputArea {
  border: none;
  background-color: inherit;
}

.searchIcon {
  color: rgb(118, 118, 118);
}

.whatAreYouDoing {
  background-color: rgb(247, 249, 249);
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.liveEvent {
  display: flex;
  justify-content: space-between;
  background-color: rgb(247, 249, 249);
  padding: 10px;
}

.liveEventType {
  font-size: 12px;
}

.liveEventName {
  font-size: 14px;
  font-weight: 700;
}

.liveEventImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}
