.twitter {
  background-color: white;
}

/* class for tweet header, don't confuse with <header> tag*/
.header {
  display: flex;
}

/* class for tweet body, don't confuse with <body> tag*/
.body {
  font-size: 17px;
}

.bottom {
  color: rgb(83, 100, 113);
  font-size: 15px;
}
