.component {
  display: flex;
  gap: 10px;
  padding: 16px 0px;
  border-top: 1px solid #eff3f4;
  border-bottom: 1px solid #eff3f4;
}

.reactionvalue {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.reactionname {
  font-size: 14px;
  color: black;
}
