.component {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 16px 0px;
}

.icon {
  display: inline-block;
  font-size: 16px;
  color: rgb(122, 148, 168);
  margin-right: 10px;
}

.counts {
  color: rgb(122, 148, 168);
}
